table tr th:first-child, table tr td:first-child{
  padding-left: 30px;

}

table tr th{
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400;
}

.table-footer{
  color: #B1B1B1;
}

.table-footer .caret{
  color: #000;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding-top: 12px;
  padding-bottom: 12px;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 60%;
  padding-right: 7%;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 30%;
}
