<div class="" style="display: flex; flex-direction: column;flex: 1;max-width: 100%;overflow: hidden;">
  <div class="actions" style="justify-content: flex-start;height: 62px;display: flex;align-items: center;padding: 15px;border-bottom: solid 1px lightgray;">
    <button class="btn btn-default" style="margin: 10px; border:0;background-color: #006B68;color: white;">Ingresos</button>
    <button class="btn btn-default" style="margin: 10px; border:0;">Egresos</button>
  </div>
  <div class="" style="display: flex;justify-content: flex-start;flex: 1;">

      <table class="table">
        <thead>
        <tr>
          <th>Descripción</th>
          <th>Cantidad</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>SCOTIABANK INVERLAT, S.A.</td>
          <td>-$388.60</td>
        </tr>
        <tr>
          <td>JUAN JOSE LEAÑO PADILLA</td>
          <td>-$15,824.72</td>
        </tr>
        <tr>
          <td>ASESORIA ADMINISTRATIVA VAI SA DE CV</td>
          <td>-$388.60</td>
        </tr>
        <tr>
          <td>JUAN JOSE LEAÑO PADILLA</td>
          <td>-$17,246.88</td>
        </tr>
        </tbody>
      </table>



  </div>
  <div class="table-footer" style="display: flex;justify-content: flex-end;padding: 15px;border-top: 1px solid lightgray;">
    <div style="display: flex;flex: 1;justify-content: flex-end;align-items: center;">

        <span style="padding-right: 20px;">Pagina </span><span>1 <span class="caret"></span></span>

    </div>
    <div style="flex: 1;display: flex;align-items: center;">
      <span style="padding-left: 10px;">0-0 de 0</span>
      <div style="display: flex;flex: 1; justify-content: flex-end;align-items: center;">
        <button style="background-color: white;border: 0px;"><img src="../../../assets/left-arrow-icon.png" alt=""></button>
        <button style="background-color: white;border: 0px;"><img src="../../../assets/right-arrow-icon.png" alt=""></button>
      </div>
    </div>
  </div>
</div>





