<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateNewServer()"
  >Add Server</button>
<div>Eventbinding</div>
<input
  type="text"
  class="form-control"
  (input)="updateServerName($event)">

<div>TwoWayDataBinding</div>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

<!--<p class="bg-danger">{{ serverName }}</p>-->
<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>
<!--<p>Server Creation Status: {{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">Server Creation Status: {{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
