<div class="dashboard-wrapper flex full-height">
  <div class="centered-dash ">

    <div class="row wrapper-main-info" >
      <div class="col-md-3 main card">
            <div class="top">
              <img src="../../assets/bell-white.png" alt="" height="20px">
              <span class="hint">Recordatorio</span>
            </div>
            <div class="bottom" >
              <h3>Lunes, 15 Julio </h3>
              <p>Enviaremos declaraciones y reportes a Juan.</p>
            </div>
      </div>
      <div class="col-md-9 wrapper card" >
        <div class="row wrapper-main-info ">
          <div class="col-md-4 percentage-card">
              <div >
                <div class="percentage-image-wrapper">
                  <img src="../../assets/pertenage-icon.png" alt=""  class="" width="60px" >
                  <div class="percentage">63%</div>
                </div>
                <div class="counter-wrapper">
                  <h4 class="counter-title">Total Facturads Emitidas</h4>
                  <p class="counter">2,000</p>
                </div>
              </div>
          </div><!--percentage-card-->

          <div class="col-md-4 percentage-card">
            <div >
              <div class="percentage-image-wrapper">
                <img src="../../assets/pertenage-icon.png" alt=""  class="" width="60px" >
                <div class="percentage">63%</div>
              </div>
              <div class="counter-wrapper">
                <h4 class="counter-title">Total Facturads Emitidas</h4>
                <p class="counter">2,000</p>
              </div>
            </div>
          </div><!--percentage-card-->

          <div class="col-md-4 percentage-card">
            <div >
              <div class="percentage-image-wrapper">
                <img src="../../assets/pertenage-icon.png" alt=""  class="" width="60px" >
                <div class="percentage">63%</div>
              </div>
              <div class="counter-wrapper">
                <h4 class="counter-title">Total Facturads Emitidas</h4>
                <p class="counter">2,000</p>
              </div>
            </div>
          </div><!--percentage-card-->

        </div>
      </div>
      <div class="col-md-12" style="">
        <div class="row wrapper-main-info container-same-height chart-component-wrapper">
          <div class="col-md-7 statistics-component">
            <div  class="card statistics"  style="">

              <app-statistics></app-statistics>


            </div>
          </div>
          <div class="col-md-5 history-component">
            <div  class="card"  style="background-color: white;margin: 0;padding: 0;flex: 1;">
              <app-statistics-history></app-statistics-history>
            </div>
          </div>

        </div>

      </div>
    </div>








  </div>
</div>
