<div class="drawer-wrapper flex">
  <div class="menu-to-left flex" style="width: 80px;">
    <div class="flex" style="width: 100%;">
      <ul class="menu-list">
        <li class="menu-item active">
          <img class="img-responsive" src="../../assets/menu-icon-1.png" alt="">
        </li>
        <li class="menu-item">
          <img class="img-responsive" src="../../assets/menu-icon-2.png" alt="">
        </li>
        <li class="menu-item">
          <img class="img-responsive" src="../../assets/menu-icon-3.png" alt="">
        </li>
        <li class="menu-item">
          <img class="img-responsive" src="../../assets/menu-icon-4.png" alt="">
        </li>
        <li class="menu-item">
          <img class="img-responsive" src="../../assets/menu-icon-5.png" alt="">
        </li>
        <li class="menu-item">
          <img class="img-responsive" src="../../assets/menu-icon-6.png" alt="">
        </li>
      </ul>

      <ul class="menu-list">
        <li class="menu-item">
          <div class="profile-pic">
            <img class="img-responsive" src="https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/20597459_10212273159535761_1214610617934075578_n.jpg?_nc_eui2=v1%3AAeFiNKIrigCL3TQxaVMBTHjPek8LT-7ebY5uaB8trF2d1OfA8cjEcnB8zq7n8aU7j7pwDN5MBwtoxyauqkoGjMQeBoHKPi0y8w6cU6VMUvIkXA&oh=1572e44002ed2bce7f0dbf1777110a2e&oe=5A6442C0" alt="">
          </div>

        </li>
        <li class="menu-item">
          <img class="img-responsive" src="../../assets/menu-icon-7.png" alt="">
        </li>
      </ul>
    </div>
  </div>

  <div class="menu-to-left-second flex visible-md visible-lg">
    <div class="flex" style="width: 100%;">
      <ul class="menu-list">
        <li class="menu-item active">
          <span class="description">Dashboard</span>
        </li>
        <li class="menu-item">
          <span class="description ">Facturación</span>
        </li>
        <li class="menu-item">
          <span class="description ">Conciliaciones</span>
        </li>
        <li class="menu-item">
          <span class="description ">Clientes</span>
        </li>
        <li class="menu-item">
          <span class="description ">Reportes</span>
        </li>
        <li class="menu-item">
          <span class="description ">Declaraciones</span>
        </li>
      </ul>

      <ul class="menu-list">
        <li class="menu-item">
          <span class="description text-left">Perfil</span>
        </li>
        <li class="menu-item">
          <span class="description text-left">Configuración</span>
        </li>
      </ul>
    </div>
  </div>
</div>
